*{
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.content {
    display: flex;
    position: relative;
}

/* Phần giao diện trái */
.content-left {
    height: 100vh;
    width: 20%;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #9f9f9f;
    position: fixed;
}

.content-center {
    margin-left: 20%;
    height: 100vh;
    width: 60%;
}

.content-right {
    height: 100vh;
    width: 20%;
    position: fixed;
    right: 0;
}

.logo {
    display: block;
}

.img-logo {
    width: 150px;
    height: 20px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    filter: brightness(150%);
}

.btn {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.svg-menu {
    margin-left: 35px;
    font-size: 20px;
    color: #dddcdc;
}

.text-menu {
    margin-left: 20px;
    font-size: 15px;
    color: #dddcdc;
}

.avatar-left {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Phần giao diện phải*/
.my-frofile {
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.avatar-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.my-info {
    margin-left: 20px;
}

.my-nickname {
    font-weight: 700;
    color: #dddcdc;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.my-fullname {
    font-size: 500;
    color: #b6b6b6;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}

.log-out{
    margin-left: auto;
    color: #218bed;
    font-size: 14px;
    cursor: pointer;
}
.follow-right{
    margin-left: auto;
    color: #218bed;
    font-size: 14px;
    cursor: pointer; 
}
.text-suggestion {
    font-size: 500;
    color: #b6b6b6;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.frofiles {
    height: 60px;
    width: 70%;
    display: flex;
    align-items: center;
}

.avatar-right-other {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-right-other img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Phần ở giữa */
.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin: 20px 0px 20px 0px;
    height: auto;
    width: 70%;
    border-top: 1px solid #9f9f9f;
}

.info {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.avatar-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nickname-user {
    margin-left: 15px;
    color: #efecec;
    font-size: 14px;
    cursor: pointer;
}

.day-post {
    margin-left: 10px;
    color: #9a9a9a;
    font-size: 14px;
}

.button-follow {
    margin-left: 10px;
    color: #218bed;
    font-size: 14px;
    cursor: pointer;
}

.image-post {
    width: 100%;
    margin-top: 10px;

}

.image-post img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.react {
    display: flex;
}

.react i {
    font-size: 20px;
    cursor: pointer;
    margin: 10px 15px 10px 0px;
}

#save {
    margin-left: auto;
    margin-right: 0px;
}

.text-like {
    color: #ffffff;
    font-size: 14px;
}

.comment {
    display: flex;
    margin-top: 20px;
}
.comment-content{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(83, 82, 82);
}
.avatar-comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.nickname-comment {
    font-weight: bold;
    margin-bottom: 5px;
    color: #efecec;
    font-size: 12px;
}
.text-comment {
    line-height: 1.5;
    color: #efecec;
    font-size: 12px;
}
.view-all-comment{
    margin-top: 5px;
    color: #949494;
    font-size: 12px;
    cursor: pointer;
}
.input-cmt{
    display: flex;
    align-items: center;
}
.input-comment{
    margin-top: 10px;
    width: 90%;
    color: white;
    border: none;
    outline: none;
    background-color: black;
}
#post-cmt{
    cursor: pointer;
    float: right;
}
/* new */
.content-2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.form-create-post {
    background-color: #2e2e2e;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.text-create-post {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e7e7e7;
}

.choice-file {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 50px;
}

.div-btn-choice-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 40px;
}

input[type="file"] {
    display: none;
}
.form-image-post{
    background-color: #2e2e2e;
    width: 450px;
    height: auto;
    border-radius: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.image-create-post {
    width: 100%;
}

.image-create-post img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.image-post-back{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.image-post-title{
    font-size: 14px;
}
.image-post-next{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
}
.form-caption{
    background-color: #2e2e2e;
    width: 800px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.content-create-post{
    display: flex;
}
.form-post-left{
    width: 60%;
    height: auto;
}
.form-post-right{
    width: 40%;
    height: auto;
}
.form-post-left img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.avatar-create-new-post{
    display: flex;
    align-items: center;
    padding: 10px;
}
.nickname-create-new-post{
    margin-left: 10px;
    color: #ffffff;
    font-size: 14px;
}
.avatar-user-new-post {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-user-new-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.form-caption-new-post{
    width: 100%;
    height: 100%;
}
.caption-new-post{
    width: 90%;
    box-sizing: border-box;
    font-size: 16px;
    background: none;
    color: white;
    margin-left: 5%;
    border: 0;
    outline: none;
}



@media only screen and (max-width: 1208px) {
    .content-left {
        position: fixed;
        min-width: 100px;
        width: 100px;
    }
    .img-logo {
        width: 50px;
        height: 30px;
        background-image: url("../images/logo2.png");
        margin: 10px;
    }
    .btn{
        justify-content: center;
    }
    .svg-menu{
        margin-left: 0;
    }
    .text-menu{
        display: none;
    }
    .content-left:hover{
        width: 240px;
        background: black;
    }
    .content-left:hover .img-logo {
        width: 150px;
        height: 20px;
        background-image: url("../images/logo.png");
        margin: 20px;
    }
    .content-left:hover .btn{
        justify-content: left;
    }
    .content-left:hover .svg-menu{
        margin-left: 35px;
    }
    .content-left:hover .text-menu{
        display: block;
    }
    .content-center {
        margin-left: 0;
        width: calc(80%);
        margin-left: 100px;
    }
    .content-left:hover + .content-center{
        margin-left: 100px;
    }
  }
  @media only screen and (max-width:1008px) {
    .content-right{
        width: 100px;
    }
    .text-suggestion,.user-suggestion{
        display: none;
    }
    .my-frofile{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }
    .avatar-right{
        width: 50px;
        height: 50px;
    }
    .log-out{
        margin-left: 0;
    }
    .my-info{
        display: none;
    }
    .content-center{
        width: calc(100%-100px);
    }
  }
  @media only screen and (max-width: 780px) {
    .content-left {
      width: 5%;
      height: 50px;
      border-right: 0px;
    }
    .content-left:hover .btn{
        display: flex;
    }
    .content-left:hover{
        height: 100%;
        width: 240px;
        background: black;
    }
    .content-left:hover + .content-center{
        margin-left: 50px;
    }
    .content-right{
        width: 50px;
        height: 50px;
        left: 20px;
        bottom: 80px;
    }
    .content-center {
      width: 100%;
      margin-left: 50px;
    }
    
    .post {
      width: 80%;
    }
    .btn{
        display: none;
    }
    .avatar-right{
        height: 50px;
    }
  }
  

