* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
body {
    background-color: black;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.content {
    display: flex;
    position: relative;
    overflow-y: scroll;
}

/* Phần giao diện trái */
.content-left {
    height: 100vh;
    width: 20%;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #9f9f9f;
    position: fixed;
}
.content-left:hover{
    z-index: 100000;
}
.content-center {
    margin-left: 20%;
    height: 100vh;
    width: 60%;
}


.logo {
    display: block;
}

.img-logo {
    width: 150px;
    height: 20px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    filter: brightness(150%);
}

.btn {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.svg-menu {
    margin-left: 35px;
    font-size: 20px;
    color: #dddcdc;
}

.text-menu {
    margin-left: 20px;
    font-size: 15px;
    color: #dddcdc;
}

.avatar-left {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Phần ở giữa */
.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Giao diện nổi share*/
.share-cover{
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	background: #000000bb;
	width: 100%;
	height: 100vh;
	z-index: 11;
}
.share-wrap{
	display: flex;
	width: 500px;
	flex-direction: column;
	background: #ffffff;
	font-size: 14px;
	color: #575757;
	border-radius: 10px;
}
.share-header{
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 10px;
	color: #000000;
	font-size: 16px;
	border-bottom: #9c9c9c 1px solid;
}

.share-header .text{
	width: 90%;
	text-align: center;
}
.share-header i{
	font-size: 24px;
	cursor: pointer;
}
.sugestion-wrap{
	height: 350px;
	overflow-y: scroll;
}
.user-item{
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
.user-item:hover{
    background: #d6d6d636;
}
.user-item img{
	width: 50px;
	border-radius: 50%;
}
.user-info{
	padding: 0 5px;
	min-width: 80%;
	color: #575757;
}
.user-info div:first-child{
	color: #000000;
	font-weight: 600;	
}
.share-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.share-leger{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: white;
	font-size: 16px;
	border-top: #9c9c9c 1px solid;
}
.share-leger button{
    width: 100%;
    height: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.share-search{
	border-bottom: #9c9c9c 1px solid;
    display: flex;
	align-items: center;
	padding: 10px;
	color: black;
	font-size: 20px;
	padding: 10px;
}
.share-search input{
    border: none;
    outline: none;
    margin-left:10px;
    flex-grow:1;
    background: transparent;
}
.user-item.selected{
    background: #218bed;
}