{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forget_password.css' %}">
</head>
<body>
    <div class="container">
        <img class="img-logo" src="{% static 'images/logo.png' %}" height="40px" width="auto" style="display: block; margin: 0 auto; max-width: 200px;" />
        <img src="https://img.freepik.com/premium-vector/password-reset-icon-flat-vector-design_116137-4571.jpg?w=2000" alt="lock" style="display: block; margin: 0 auto; max-width: 200px;">
        <h3>Reset password</h3>
        <form method="post" id="form">
            {% csrf_token %}
            {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-info center" style="color: red; margin-bottom: 5px;">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
          <input type="text" name="new_password" placeholder="Enter new password">
          <input type="text" name="reconfirm_password" placeholder="Confirm new password">
          <input type="hidden" name="user_id" value="{{user_id}}">
          <button type="submit">Reset password</button>
        </form>
        <p>Go back to the <a href="/signin">sign in</a> page</p>
      </div>

</body>
</html>



<!-- <div class="continer">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <h4>Change Password</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="new_password"  class="form-control">
           
        </div>

        <div class="form-group">
            <label for="password">Re confirm password</label>
            <input type="text" name="reconfirm_password"   class="form-control">
           
        </div>


        <input type="hidden" name="user_id" value="{{user_id}}">
     
        <button class="btn" type="submit">Submit</button>

    </form>
</div> -->
