{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forget_password.css' %}">
</head>
<body>
    <div class="container">
        <img class="img-logo" src="{% static 'images/logo.png' %}" height="40px" width="auto" style="display: block; margin: 0 auto; max-width: 200px;" />
        <img src="https://i.pinimg.com/736x/76/38/69/763869a33c8ac9e99a59500992c11127.jpg" alt="lock" style="display: block; margin: 0 auto; max-width: 200px;">
        <h3>Quên mật khẩu ?</h3>
        <form method="post" id="form">
            <label for="email">Nhập email của bạn và chúng tôi sẽ gửi cho bạn 1 liên kết để thiết lập lại mật khẩu</label>
            {% csrf_token %}
            {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-info center" style="color: red; margin-bottom: 5px;">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
          <input type="email" id="email" name="email" placeholder="Nhập email">
          <button type="submit">Gửi liên kết đặt lại mật khẩu</button>
        </form>
        <p>Bạn đã nhớ mật khẩu của mình? <a href="/signin">Đăng nhập</a></p>
        <h4 class="gray">Hoặc</h4>
        <a  class="center" href="/signup">Tạo tài khoản mới</a>
      </div>

</body>
</html>

