<div class="content-left">
  <a href="/" class="logo">
    <div class="img-logo"></div>
  </a>
  <a href="/" class="btn">
    <div class="svg-menu" id="icon-home">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="text-menu" id="text-home">Home</div>
  </a>
  <a href="/search" class="btn">
    <div class="svg-menu">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="text-menu">Search</div>
  </a>
  <a href="/message/Default" class="btn" id="btn-message">
    <div class="svg-menu">
      <i class="fa-regular fa-message"></i>
    </div>
    <div class="text-menu">Messages</div>
  </a>
  {% if request.path == "/" %}
  <div class="btn" id="btn-create">
    <div class="svg-menu" id="icon-create">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="text-menu" id="text-creatr">Create</div>
  </div>
  {% endif %}

  <a class="btn" href="/{{user_profile.user.username}}">
    <div class="svg-menu">
      <div class="avatar-left">
        <img src="{{user_profile.profileimg.url}}" />
      </div>
    </div>
    <div class="text-menu">Profile</div>
  </a>
</div>
<script>
  $("#btn-message").click(function () {
    window.location.href = "message/Default";
  });
  save_last_login();
  function save_last_login() {
    $.ajax({
      url: "/saveLastLogin",
      type: "GET",
      dataType: "json",
      success: function (data) {},
      complete: function () {
        setTimeout(save_last_login, 1000);
      },
    });
  }
</script>
